06E Boundary Box Concept/06E Packaging.STEP
~$*.SLD*
*.log
Parts/Scanned/Bradley_Fixed.SLDPRT
Parts/Scanned/Chester_Fixed.SLDPRT
Parts/Scanned/Jaden_Fixed.SLDPRT
*.EMS
*.BD2
*.BDF
*.CWR
*.MFC
*.SL4
*.DMP
